.new-reminder-form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.new-reminder-form > * {
  margin-bottom: 2rem;
}

.priority-icon-low {
  color: #029a02;
}

.priority-icon-medium {
  color: #ff6b02;
}

.priority-icon-high {
  color: #cd0303;
}

.priority-icon-critical {
  color: #ff0000;
}

.low-priority-text,
.medium-priority-text,
.high-priority-text,
.critical-priority-text {
  display: flex;
  gap: 0.5rem;
  /* margin-top: 0.5rem; */
}

.category-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin-top: 0.5rem; */
}

.date-time-container,
.category-priority-container {
  display: flex;
  gap: 2rem;
}

.date-time-container > *:nth-child(1),
.date-time-container > *:nth-child(2),
.category-priority-container > *:nth-child(1),
.category-priority-container > *:nth-child(2) {
  width: 50%;
}

@media (max-width: 800px) {
  .date-time-container,
  .category-priority-container {
    flex-direction: column;
    align-items: center;
  }
  .date-time-container > *:nth-child(1) {
    width: 100%;
  }

  .date-time-container > *:nth-child(2) {
    width: 100%;
  }

  .category-priority-container > *:nth-child(1) {
    width: 100%;
  }

  .category-priority-container > *:nth-child(2) {
    width: 100%;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 0.6rem;
}
