.dashboard-pie-chart-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 0.2rem;
  background-color: #f3f3f3;
  border: 1px solid #d7d7d7;
  margin: 2rem;
  gap: 2rem;
}

.dashboard-pie-chart {
  text-align: center;
  margin: 2rem;
  padding: 1rem 3rem;
}

.projects-percentages-container {
  text-align: center;
  margin: 3rem 2rem;
  border-radius: 0.2rem;
  background-color: #f3f3f3;
  border: 1px solid #d7d7d7;
  padding: 1rem;
}

.dashboard-projects-area-chart {
  text-align: center;
  margin: 3rem 2rem;
  border-radius: 0.2rem;
  background-color: #f3f3f3;
  border: 1px solid #d7d7d7;
  padding: 1rem;
}

.dashboard-chart-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.75rem;
}

.dashboard-no-projects-container {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.projects-tooltip-content {
  background-color: #f7f7f7;
  border: 1px solid #d7d7d7;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.7rem;
  color: #6c757d;
}
