.tasks-table-container {
  overflow-x: auto;
  width: 100%;
  background-color: white;
}

.table-title {
  font-size: 1.1rem;
  padding: 1rem;
  text-align: left;
  background-color: #1565c0;
  color: white;
}

.selected-rows-title {
  margin-left: 1rem;
  font-size: 1rem;
}

.selected-rows-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.57rem 0;
  background-color: #1565c0;
  color: white;
}

.table-cell-header {
  font-weight: 600;
  background-color: #eaeaea;
}

.table-cell-header-checkbox {
  background-color: #eaeaea;
}

.table-cell-header-notes {
  background-color: #eaeaea;
  text-align: center;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.cell-max-width {
  min-width: 100px;
  max-width: 150px;
}

.status-cell {
  min-width: 100px;
}

.table-cell:hover,
.cell-max-width:hover,
.status-cell:hover {
  cursor: pointer;
  font-weight: 600;
}

.priority-div-container {
  display: flex;
  align-items: center;
  gap: 0 0.35rem;
  border: 1px solid rgb(211, 211, 211);
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
}

.status-div-container {
  border: 1px solid rgb(211, 211, 211);
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
}

.not-started-status {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: rgb(103, 103, 103);
  color: white;
}

.in-progress-status {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #008000;
  color: white;
}

.finished-status {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #3071d4;
  color: white;
}

.stuck-status {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #dc3545;
  color: white;
}

.cancel-save-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5rem;
}

.notes-row {
  background-color: #eaeaea;
}

.notes-title {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.notes-text {
  font-size: 0.9rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.notes-div-clickable {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: white;
  border: 1px dashed #b7b7b7;
}

.notes-div-clickable:hover {
  font-weight: 600;
}

.notes-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.75rem;
}

.add-notes-span {
  /*   display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem; */
}
