.tasks-table-container {
  overflow-x: auto;
  width: 100%;
  background-color: white;
}

.table-title {
  font-size: 1.1rem;
  padding: 1rem;
  text-align: left;
  background-color: #1565c0;
  color: white;
}

.selected-rows-title {
  margin-left: 1rem;
  font-size: 1rem;
}

.selected-rows-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.57rem 0;
  background-color: #1565c0;
  color: white;
}

.table-cell-header {
  font-weight: 600;
  background-color: #eaeaea;
}

.table-cell-header-checkbox {
  background-color: #eaeaea;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.cell-max-width {
  min-width: 100px;
  max-width: 150px;
}

.table-cell:hover,
.cell-max-width:hover {
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}
