.project-title {
  font-size: 1.35rem;
  font-weight: 600;
}

.title-and-delete-icon-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.project-details-name {
  width: 95%;
}

.edit-icon:hover {
  color: #007bff;
}

.project-list-status {
  display: flex;
  align-items: center;
}

.status-in-progress-span {
  padding-right: 0.5rem;
}

.span-bold {
  font-weight: 600;
}

.project-details-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.project-details-description {
  margin-bottom: 1rem;
}

.project-details-start-date,
.project-details-end-date {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.project-details-name:hover,
.project-details-description:hover,
.project-details-start-date:hover,
.project-details-end-date:hover,
.project-details-priority:hover,
.project-details-status:hover {
  cursor: pointer;
  border: 1px dashed #d3d3d3;
  color: grey;
}

.project-details-dates > *,
.project-details-priority-status-container > * {
  margin-bottom: 1rem;
}

.project-details-status {
  display: flex;
  align-items: center;
}

.edit-project-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.edit-project-buttons-container button {
  margin: 0 0.5rem;
}

.low-priority-text,
.medium-priority-text,
.high-priority-text,
.critical-priority-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.delete-icon {
  color: grey;
}

.delete-icon:hover {
  cursor: pointer;
  color: #dc3545;
}
