.all-projects-container {
  /*   width: 100%; */
  margin: 2rem;
  background-color: #fefefe;
}

.no-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 2rem;
  text-align: center;
}
