/* DO NOT CHANGE THESE STYLES */
.user-panel-container {
  display: flex;
  height: 100vh;
  background-color: #fefefe;
  overflow: hidden;
}

/* DO NOT CHANGE THESE STYLES */
.sidebar-container {
  position: relative;
  height: 100%;
  font-weight: 400;
  color: #142f59;
}

/* DO NOT CHANGE THESE STYLES */
.outlet-container {
  flex-grow: 1;
  overflow: scroll;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  width: 60%;
}

.logo-container img {
  width: 100%;
}

.icon {
  color: #3071d4;
}

.title-p {
  font-size: 0.9rem;
  margin-left: 1.75rem;
  font-weight: 600;
  color: rgb(115, 117, 119);
}

.flag {
  margin-right: 0.35rem;
}

.toggle-icon {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  font-size: 2rem;
  color: #0f418d;
  cursor: pointer;
}

.toggle-icon-right {
  font-size: 2rem;
  color: #0f418d;
  cursor: pointer;
}

.toggle-icon:hover,
.toggle-icon-right:hover {
  color: #3071d4;
}

.expand-text {
  font-size: 0.6rem;
}

.active {
  background-color: #f4f4f4;
  font-weight: 600;
}
