.no-tasks-yet-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks-and-no-tasks-container {
  width: 100%;
}

.tasks-tabs-container,
.no-tasks-tabs-container {
  width: 100%;
  background-color: white;
}

.new-task-div {
  color: #1976d2;
  border: 1px solid #1976d2;
  background-color: #f8f8f8;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.checkbox-and-expand-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.task-status-name-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-size: 0.85rem;
}
