.user-panel-home {
  background-color: #f3f3f3;
  border: 1px solid #d7d7d7;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10rem);
  margin: 2rem;
}

.to-do-list-container,
.my-projects-container {
  padding: 1rem;
  margin: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 25%;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 3px 3px 10px 0px #00000040;
}

.to-do-list-container:hover,
.my-projects-container:hover {
  transform: scale(1.05);
  transition: transform 0.25s ease-in-out;
}

.to-do-list-container {
  background-image: url("../../../assets/images/new-project.png");
}

.my-projects-container {
  background-image: url("../../../assets/images/my-projects.png");
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  background-color: #041f48e3;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  width: fit-content;
}
